<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Grid Generator</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <form action="/grid" method="POST">
        <select name="gridSize">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <button type="submit">Generate Grid</button>
    </form>

</body>

</html>
